h1{
  font-size: 60px;
  color: white;
}

body{
  background-attachment: fixed;
  background-image: url('../res/background.png');
}

p1{
  border-style: outset;
  text-align: center;
  font-size: 20px;
  color: white;
}
