h1{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  color: gray;
  font-family:Garadon;
}

html{
  /*  background-image: url('../res/background.png'); */
  background-image:url("https://raw.githubusercontent.com/intcompsci/intcompsci.github.io/master/res/background.png");
  background-attachment: fixed;
}

body {
  background-color:  #e6e6e6;
  width: 99%;
  height: 100%;
  position: static;
  /* background-color:#FDFEFE; */
    
  height: auto;
  border: 3px solid #cc9966;
  padding: 15px;
  background-color:  #e6e6e6;
  margin: auto;
  width: 60%
     
}
.p1 {
  border: 2px solid black;
  background-color: white;
  text-align: center;
  font-size: 20px;
  color: black;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 900px;
  margin-left: 10px;
}

img{
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 50px;
  border: 2px solid black;
}

.pills {
  background-color: #cccccc;
}

div.image{
  margin-top: 0px;
  margin-bottom: 900px;
  margin-left: 500px;
  margin-right: 0px;
}
