html {
    height: 100%;
    background: linear-gradient(50deg, #cccccc 0%, #333333 100%);
}
body {
 background: url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center;
    /*height: 100%;
    /*background: linear-gradient(45deg, #00ff00 0%, #33ccff 100%);
    /* FF3.6-15*/
    width: 70%;
}

table{
 border: 3px solid black;   
}
th{

}
td{
height: 50px;
    vertical-align: bottom;
}
img.brap {
    text-align: center;
   display: block;
    margin-left: auto;
    margin-right: auto;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
